@charset "utf-8";
body {
/*
	background:#fd7c00 url(images/loginBg.jpg) repeat-x;
	*/
	background-color: #2F2F2F;
	background: url(../images/body.png) repeat;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	font-family: "微软雅黑";
	color: #BBB;
}

a {
  color: #4cb4e8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #d4edf9;
  text-decoration: none;
}

.insetPane {
	border: none;
	text-align: left;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
}
.header {
	width: 900px;
	height: 30px;
	margin: 0 auto;
	padding: 10px;
	font-size: xx-large;
}
.header #left {
	float: left;
	padding-top: 3px;
	color: #EEE;
}
.header #middle {
	float: left;
	width: 200px;
}
.header #right {
	float: right;
	
}
#btn_login {
	margin-bottom: 9px;
}
.container  {
	font-size: 12pt;
	width: 900px;
	height: 360px;
	margin: 20px auto;
	padding: 10px;
}
.container  #right{
	float: right;
	width: 360px;
	margin-top: 40px;
}
.container  #left{
	padding: 35px 20px;
	float: left;
	width: 500px;
}

.footer {
	background: #000;
	width: 760px;
	height: 50px;
	margin: 0 auto;
	border: 0px;
	text-align: center;
	padding: 10px;
}
